.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  width: 150px !important;
  border-radius: 100px !important;
  background: #b3b3b3 !important;
  color: white !important;
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: 0.1s;
}
