@font-face {
  font-family: "Gotham Rounded Medium";
  src: local("Gotham Rounded Medium"),
    url("../../assets/fonts/GothamRoundedMedium_21022.ttf");
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameFailed {
  display: flex;
  justify-content: center;
  font-family: "Gotham Rounded Medium";
}

.victoryText {
  color: #fda84e;
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-family: "Gotham Rounded Medium";
}

/* Reject and Approve Button Styling */
.reject:hover,
.approve:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.1s;
}

.reject,
.approve {
  font-size: 100px;
  display: flex;
  align-items: center;
}

.reject img,
.approve img {
  max-width: 100px;
}

/* Mobile */
@media (max-width: 767.98px) {
  .game-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-buttons-mobile {
    display: flex;
  }

  .game-buttons-mobile div {
    margin: 0 10px;
  }
}
