.header {
  text-align: center;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card-img img {
  max-width: 50%;
}

.card-content {
  padding: 0 25%;
}

.ratings-and-reviews {
  display: flex;
  justify-content: space-between;
}

.price-and-category {
  display: flex;
  justify-content: space-between;
}