.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reject and Approve Button Styling */
.reject:hover, .approve:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .1s; 
}

.reject, .approve {
  font-size: 100px;
  display: flex;
  align-items: center;
}

.reject img, .approve img {
  max-width: 100px;
}

/* Mobile */
@media (max-width: 767.98px) {
  .game-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-buttons-mobile {
    display: flex;
  }

  .game-buttons-mobile div {
    margin: 0 10px;
  }
}