.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reject and Approve Button Styling */
.reject:hover, .approve:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .1s; 
}

.reject, .approve {
  font-size: 100px;
  display: flex;
  align-items: center;
}

.reject img, .approve img {
  max-width: 100px;
}