@font-face {
  font-family: "Gotham Rounded Book";
  src: local("Gotham Rounded Book"), url('../assets/fonts/GothamRoundedBook_21018.ttf')
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

input {
  font-family: "Gotham Rounded Book" !important;
  color: white !important;
  border-radius: 100px !important;
  background: #F27272 !important;
  width: 350px !important;
  text-align: center !important;
} 

::-webkit-input-placeholder { /* Edge */
  color:white !important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color:white !important;
}

::placeholder {
  color:white !important;
  opacity: 1 !important;
}